.activeCourses{
    background-color: #fff;
    margin: 10px 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: #8D86C9;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activeCourses h1{
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #8D86C9;
}

.all-Courses{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

#Mysourses-Top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

#Mysourses-Top h1{
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #8D86C9;
}

#Mysourses-Top button{
    margin-left: 10px;
    color: #fff;
    border-radius: 50%;
    border: none;
    background-color: #397367;
    padding: 10px;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    justify-self: flex-end;
}

#Mysourses-Top button:hover{
    color: #fff;
    background-color: #5DA399;
    transform: scale(1.1);
}

#mycourses{
    display: none;
}

@media (max-width: 780px) {
    .activeCourses{
        justify-content: center;
    }

    .all-Courses{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}