#filter_bar{
    margin-top: 10px;
}

#filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 10px;
    line-height: 10px;
    text-align: center;

    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 10px;
    overflow: hidden;
  }
  
  /* Style the buttons */
  .filter {
    border: none;
    outline: none;
    padding: 10px 6px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .filter:hover {
    background-color: #ddd;
  }
  
  .filter.active {
    background-color: #666;
    color: white;
  }