#about-us {
  background-color: #f9f9f9;
  padding: 50px;
  text-align: center;
}

#about-us h1{
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #000000;
}

#about-us div {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

#about-us p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}