#about-us {
  background-color: #f9f9f9;
  padding: 50px;
  text-align: center;
  margin-bottom: 200px ;
}

#about-us h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

#about-us-content {
  margin: 0 auto;
  display: flex;
  /* position: relative; */
}

#about-us-paragraph{
  background-color: #8D86C9;
  padding: 50px 10px;
  position: relative;
  width: 50%;
  margin-right: 40px;
  align-self: baseline;
  border-radius: 20px;
}

#about-us p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: left;
}

#about-us img {
  padding: 40px;
  background-color: #8D86C9;
  max-width: 600px;
  height: 500px;
  margin-top: 30px;
  /* position: absolute; */
  bottom: 10px;
  right: 0;
  border-radius: 20px;
    --g:#0000 ,#000 .5deg 90deg,#0000 91deg;
    --m:
      conic-gradient(from 45deg ,var(--g)) 20px 0  no-repeat,
      conic-gradient(from 135deg,var(--g)) 0 20px  no-repeat,
      conic-gradient(from 225deg,var(--g)) -20px 0 no-repeat,
      conic-gradient(from 315deg,var(--g)) 0 -20px no-repeat;
    -webkit-mask: var(--m);
            mask: var(--m);
    transition: .3s linear;
    filter: grayscale(.5);
    cursor: pointer;
  }
  
  #about-us img:hover {
    -webkit-mask-position: 0 0;
            mask-position: 0 0;
    filter: grayscale(0);
  }