.contact{
  background-color: #8D86C9;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 5vh;
}
.contact h1{
  font-size: 4vh;
  color: #fff;
}
.contact p{
  font-size: 2.5vh;
  padding-top: 2vh;
  color: #fff;
}
.contact div{
  font-size: 5vh;
  margin-top: 10vh;
}
.contact a{
  color: #397367;
}
.contact a:hover{
  color: #5DA399;
  transition: 0.4s;
}
.email{
  padding-top: 1.5vh;
}