.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 1.5vh;
    background: #414145;
    background-position: center;
    background-size: cover;
    position: relative;
    font-size: 2vh;
  }
  .footer p{
    margin-bottom: 0.5vh;
    color: #fff;

  }

  .icons_width{
    color: #8D86C9;
  }

  .icons_width i:hover{
    color: #397367;
    transition: 0.2s;
  }
  