.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 1.5vh;
    background: #414145;
    background-position: center;
    background-size: cover;
    position: relative;
    font-size: 2vh;
  }
  .footer p{
    margin-bottom: 0.5vh;
    color: #fff;
  }

  .icons{
    color: #8D86C9;
    display: inline-block;
    margin: 10px;
    font-size: 2.5vh;
  }

  .icons a:hover{
    color: #397367;
    font-size: 3vh;
    transition: 0.1s;
  }
  
  @media screen and (max-width: 800px) {
    .icons{
      width: 100%;
      margin: 10px;
      text-align: center;
    }

    #rights{
      width: 100%;
      margin: auto;
      text-align: center;
    }
  }
  