header#header{
    position: fixed;
    top: 0;  
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    height: fit-content;
    border: 10px solid #8D86C9;
}

.header-text{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    margin-right: 10px;
    width: 60px;
    height: 60px;
}

.logo h1{
    color: #8D86C9;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.nav-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li{
    margin: 0 10px;
}


.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.nav-list ul{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav-list li{
    margin: 0px 10px;
}

.nav-list li:last-child> a{
    background-color: #397367;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
}

.nav-list li a{
    --s: 0.1em;
    --c: #397367;

    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #8D86C9;
    transition: 0.2s;

    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}

/* .nav-list li a:hover{
    color: #397367;
    --_p: 100%
} */

.nav-list li:not(:last-child) a:hover{
    color: #397367;
    --_p: 100%
} 

.nav-list li:last-child> a:hover{
    background-color: #5DA399;
    color: #fff;
}

nav .menu-button {
    display: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    transition: .3s;
    width: fit-content;
    color: #397367;
    cursor: pointer;
    font-size: 30px;
}

nav .menu-button > span {
    transform: rotateZ(-90deg);
    color: #397367;
}

nav button:active {
    background-color: #397367;
}

.show{
    display: flex;
}

/* #LoginBtn{
    background-color: #397367;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 0 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
} */

@media (max-width: 800px){
    .header {
        align-items: baseline;
        justify-content: space-evenly;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    nav .menu-button {
        margin-right: 20px; ;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav .nav-list{
        display: none;
    }

    nav .nav-list.show{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-list li{
        margin: 10px 10px;
    }

    .logo h1{
        color: #8D86C9;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

    .logo{
        display: flex;
        align-self: self-start;
    }

    .logo img{
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
} 
