.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 1.5vh;
    background: linear-gradient(to bottom,#b0a9ee,#6ad3be);
    background-position: center;
    background-size: cover;
    position: relative;
    font-size: 2vh;
  }
  .footer p{
    margin-bottom: 0.5vh;
  }
  .icons_width i:hover{
    color: white;
    transition: 0.2s;
  }
  