body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  body::-webkit-scrollbar {
      width: 8px;
  }
  
  body.thin::-webkit-scrollbar {
      width: 2px;
  }
  
  ::-webkit-scrollbar-track {
      border-radius: 10px;
      background: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #508d84;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
      background: #67b6aad5; 
  }